USE [master]
GO
/****** Object:  Database [MiniProjectRaw]    Script Date: 12/8/2014 8:54:47 PM ******/
CREATE DATABASE [MiniProjectRaw]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MiniProjectRaw', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\MiniProjectRaw.mdf' , SIZE = 450560KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MiniProjectRaw_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\MiniProjectRaw_log.ldf' , SIZE = 18240KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MiniProjectRaw].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MiniProjectRaw]
GO
/****** Object:  Table [dbo].[DPOHExport Destination]    Script Date: 12/8/2014 8:54:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[DPOHExport Destination](
	[COMLOG_ID] [int] NULL,
	[DPOH_LAST_NM_TCPD] [varchar](255) NULL,
	[DPOH_FIRST_NM_PRENOM_TCPD] [varchar](255) NULL,
	[DPOH_TITLE_TITRE_TCPD] [varchar](255) NULL,
	[BRANCH_UNIT_DIRECTION_SERVICE] [varchar](255) NULL,
	[OTHER_INSTITUTION_AUTRE] [varchar](255) NULL,
	[INSTITUTION] [varchar](500) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NMExport Destination]    Script Date: 12/8/2014 8:54:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NMExport Destination](
	[CLIENT_NUM] [int] NULL,
	[EN_CLIENT_NM_AN] [varchar](max) NULL,
	[FR_CLIENT_NM] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PrimaryExport Destination]    Script Date: 12/8/2014 8:54:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PrimaryExport Destination](
	[REGISTRANT_NUM_DECLARANT] [int] NULL,
	[RGSTRNT_LAST_NM_DCLRNT] [varchar](255) NULL,
	[RGSTRNT_1ST_NM_PRENOM_DCLRNT] [varchar](255) NULL,
	[Cost_Imaginary_Column] [int] NULL,
	[PREV_COMLOG_ID_PRECEDNT] [varchar](255) NULL,
	[COMLOG_ID] [int] NULL,
	[CLIENT_NUM] [int] NULL,
	[COMM_DATE] [date] NULL,
	[REG_TYPE_ENR] [smallint] NULL,
	[SUBMISSION_DATE_SOUMISSION] [date] NULL,
	[POSTED_DATE_PUBLICATION] [date] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SubjectMattersExport Destination]    Script Date: 12/8/2014 8:54:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SubjectMattersExport Destination](
	[COMLOG_ID] [int] NULL,
	[SUBJ_MATTER_OBJET] [varchar](255) NULL,
	[OTHER_SUBJ_MATTER_AUTRE_OBJET] [varchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
