USE [master]
GO
/****** Object:  Database [MiniProject]    Script Date: 12/8/2014 8:54:19 PM ******/
CREATE DATABASE [MiniProject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MiniProject', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\MiniProject.mdf' , SIZE = 24576KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MiniProject_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\MiniProject_log.ldf' , SIZE = 12352KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MiniProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MiniProject]
GO
/****** Object:  Table [dbo].[DimClient]    Script Date: 12/8/2014 8:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DimClient](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ClientNumber] [int] NOT NULL,
	[EnglishNameOfClient] [varchar](500) NOT NULL,
	[FrenchNameOfClient] [varchar](500) NULL,
 CONSTRAINT [PK_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DimDate]    Script Date: 12/8/2014 8:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDate](
	[DateCode] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NOT NULL,
 CONSTRAINT [PK_DimDate] PRIMARY KEY CLUSTERED 
(
	[DateCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DimInsitutions]    Script Date: 12/8/2014 8:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DimInsitutions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LOG] [int] NOT NULL,
	[Insitutions] [varchar](500) NOT NULL,
 CONSTRAINT [PK_DimInsitutions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DimSender]    Script Date: 12/8/2014 8:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DimSender](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](255) NOT NULL,
	[LastName] [varchar](255) NOT NULL,
 CONSTRAINT [PK_DimSender] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DimSubject]    Script Date: 12/8/2014 8:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DimSubject](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectMatter] [varchar](255) NOT NULL,
 CONSTRAINT [PK_DimSubject] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RegisteryFact]    Script Date: 12/8/2014 8:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegisteryFact](
	[Cost] [float] NULL,
	[Count] [bigint] NULL,
	[DimClientID] [int] NOT NULL,
	[DimDateID] [int] NOT NULL,
	[DimSubjectID] [int] NOT NULL,
	[DimSenderID] [int] NOT NULL,
	[DimInsitutionID] [int] NOT NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[RegisteryFact]  WITH CHECK ADD  CONSTRAINT [FK_RegisteryFact_DimClient] FOREIGN KEY([DimClientID])
REFERENCES [dbo].[DimClient] ([ID])
GO
ALTER TABLE [dbo].[RegisteryFact] CHECK CONSTRAINT [FK_RegisteryFact_DimClient]
GO
ALTER TABLE [dbo].[RegisteryFact]  WITH CHECK ADD  CONSTRAINT [FK_RegisteryFact_DimDate] FOREIGN KEY([DimDateID])
REFERENCES [dbo].[DimDate] ([DateCode])
GO
ALTER TABLE [dbo].[RegisteryFact] CHECK CONSTRAINT [FK_RegisteryFact_DimDate]
GO
ALTER TABLE [dbo].[RegisteryFact]  WITH CHECK ADD  CONSTRAINT [FK_RegisteryFact_DimInsitutions] FOREIGN KEY([DimInsitutionID])
REFERENCES [dbo].[DimInsitutions] ([ID])
GO
ALTER TABLE [dbo].[RegisteryFact] CHECK CONSTRAINT [FK_RegisteryFact_DimInsitutions]
GO
ALTER TABLE [dbo].[RegisteryFact]  WITH CHECK ADD  CONSTRAINT [FK_RegisteryFact_DimSender] FOREIGN KEY([DimSenderID])
REFERENCES [dbo].[DimSender] ([ID])
GO
ALTER TABLE [dbo].[RegisteryFact] CHECK CONSTRAINT [FK_RegisteryFact_DimSender]
GO
ALTER TABLE [dbo].[RegisteryFact]  WITH CHECK ADD  CONSTRAINT [FK_RegisteryFact_DimSubject] FOREIGN KEY([DimSubjectID])
REFERENCES [dbo].[DimSubject] ([ID])
GO
ALTER TABLE [dbo].[RegisteryFact] CHECK CONSTRAINT [FK_RegisteryFact_DimSubject]
GO
USE [master]
GO
